---
export const prerender = false;
---

<html lang="en">
	<body>
		<h1>Sign up</h1>
		<form method="post" action="/api/signupUsingCred">
			<label for="username">Username</label>
			<input id="username" name="username" />
			<label for="password">Password</label>
			<input id="password" name="password" />
			<button type="submit">Continue</button>
		</form>
	</body>
</html>